// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .Accordion {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_9;

    .Loader {
      display: block;

      .Background {
        @include setOpacity(100);
        background-color: $IO_VISIONSDK_GRAY_LIGHT_9;
      }

      .Icon {
        background: $COM_WUI_FRAMEWORK_USERCONTROLS_SPINNER_SMALL;
        height: 11px;
        width: 43px;
      }
    }

    .ScrollBar {
      .Horizontal {
        .HoverExpand {
          height: 11px;
        }

        .ContentOffset {
          height: 8px;
        }
      }

      .Vertical {
        .HoverExpand {
          width: 11px;
        }

        .ContentOffset {
          width: 8px;
        }
      }
    }


    .Horizontal {
      .Separator {
        height: 100%;
        width: 5px;
      }
    }

    .Vertical {
      .Separator {
        height: 3px;
      }
    }
  }
}
