// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .BSPSelector {
    height: 230px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 210px;

    .Header {
      height: 8px;
    }

    .Body {
      background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;
      height: 222px;

      .HeaderLabel,
      .DescriptionLabel {
        clear: both;
        cursor: default;
        float: none;
        margin: auto;
        position: relative;

        .Text {
          text-align: center;
          width: 210px;
        }
      }

      .HeaderLabel {
        font-weight: bold;
        top: 75px;
      }

      .DescriptionLabel {
        font-size: 15px;
        padding-left: 7px;
        top: 80px;

        .Text {
          width: 195px;
        }
      }

      [guiType="SelectBox"] {
        > .Background {
          > .Top,
          > .Middle,
          > .Bottom {
            > .Left,
            > .Center,
            > .Right {
              background-color: transparent;
            }
          }
        }
      }

      .SelectBox {
        clear: both;
        left: 10px;
        position: relative;
        top: 28px;

        .Options {
          .Option {
            .Text {
              float: none;
              font-size: 14px;
              font-weight: normal;
              margin: auto;
              text-align: center;
              width: 180px;
            }
          }
        }
      }

      .ScrollBar {
        .Tracker {
          background-color: transparent;
        }
      }
    }

    .On,
    .Active {
      .Body .HeaderLabel {
        top: 16px;
      }
    }

    .Orange {
      .Header {
        @include setLinearGradient($IO_VISIONSDK_ORANGE_LIGHT_1, $IO_VISIONSDK_ORANGE);
      }

      .Body {
        .SelectBox {
          .Options {
            .Option {
              .On,
              .Active {
                background-color: $IO_VISIONSDK_ORANGE;
              }
            }
          }

          .ScrollBar .Tracker .Button {
            .Off {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_ORANGE_LIGHT_2;
              }
            }

            .On {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_ORANGE_LIGHT_1;
              }
            }

            .Active {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_ORANGE;
              }
            }
          }
        }
      }

      .On,
      .Active {
        .Body {
          @include setLinearGradient($IO_VISIONSDK_ORANGE_LIGHT_3, $IO_VISIONSDK_ORANGE_LIGHT_4);
        }
      }
    }

    .Blue {
      .Header {
        @include setLinearGradient($IO_VISIONSDK_SKYBLUE_LIGHT_1, $IO_VISIONSDK_SKYBLUE);
      }

      .Body {
        .SelectBox {
          .Options {
            .Option {
              .On,
              .Active {
                background: $IO_VISIONSDK_SKYBLUE;
              }
            }
          }

          .ScrollBar .Tracker .Button {
            .Off {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_SKYBLUE_LIGHT_2;
              }
            }

            .On {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_SKYBLUE_LIGHT_1;
              }
            }

            .Active {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_SKYBLUE;
              }
            }
          }
        }
      }

      .On,
      .Active {
        .Body {
          @include setLinearGradient($IO_VISIONSDK_SKYBLUE_LIGHT_3, $IO_VISIONSDK_SKYBLUE_LIGHT_4);
        }
      }
    }

    .Green {
      .Header {
        @include setLinearGradient($IO_VISIONSDK_LIMEGREEN_LIGHT_1, $IO_VISIONSDK_LIMEGREEN);
      }

      .Body {
        .SelectBox {
          .Options {
            .Option {
              .On,
              .Active {
                background-color: $IO_VISIONSDK_LIMEGREEN;
              }
            }
          }

          .ScrollBar .Tracker .Button {
            .Off {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_LIMEGREEN_LIGHT_2;
              }
            }

            .On {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_LIMEGREEN_LIGHT_1;
              }
            }

            .Active {
              .Top,
              .Center,
              .Bottom {
                background-color: $IO_VISIONSDK_LIMEGREEN;
              }
            }
          }
        }
      }

      .On,
      .Active {
        .Body {
          @include setLinearGradient($IO_VISIONSDK_LIMEGREEN_LIGHT_3, $IO_VISIONSDK_LIMEGREEN_LIGHT_4);
        }
      }
    }
  }
}
