// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="Button"] {
    > .Background {
      > .Center > .Envelop {
        height: 34px;
        left: -5px;
        width: 30px;

        > .Content {
          height: 34px;
        }
      }

      .Left,
      .Right {
        width: 5px;
      }

      .Left,
      .Center,
      .Right {
        height: 34px;
      }
    }
  }

  .Button {
    .Splitter + .Text {
      color: $IO_VISIONSDK_GRAY_DARK_10;
      font-family: "Lato", sans-serif;
      font-size: 13px;
      margin-left: 10px;
      margin-right: 10px;
      top: 9px;
    }

    .Disable {
      .Splitter + .Text {
        color: $IO_VISIONSDK_GRAY_DARK_3;
      }

      .Background {
        .Left,
        .Right,
        .Center {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_7;
        }
      }
    }

    .WhiteMedium,
    .GreenWhiteMedium,
    .GreenLowMedium,
    .GrayMedium {
      .Disable {
        .Background {
          .Left,
          .Right,
          .Center {
            border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_3;
            border-top: 1px solid $IO_VISIONSDK_GRAY_DARK_3;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_3;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_3;
          }
        }
      }
    }

    .WhiteMedium {
      .Off,
      .On {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_WHITE;
          }
        }
      }

      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
            border-top: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
          }
        }
      }

      .On {
        .Background {
          .Left,
          .Right,
          .Center {
            border-bottom: 1px solid $IO_VISIONSDK_GRAY;
            border-top: 1px solid $IO_VISIONSDK_GRAY;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GRAY;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GRAY;
          }
        }
      }

      .Active {
        .Splitter + .Text {
          color: $IO_VISIONSDK_GRAY_DARK_2;
        }

        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
            border-top: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_2;
          }
        }
      }
    }

    .RedMedium,
    .GreenMedium,
    .GreenGrayMedium,
    .GreenWhiteMedium,
    .GreenLowMedium,
    .GrayMedium {
      .Background {
        .Left,
        .Center,
        .Right {
          height: 40px;
        }
      }

      [guiType="Button"] > .Background > .Center > .Envelop {
        height: 40px;

        > .Content {
          height: 40px;
        }
      }

      .Splitter + .Text {
        color: $IO_VISIONSDK_WHITE;
        font-size: 16px;
      }
    }

    .RedMedium {
      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_RED;
          }
        }
      }

      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_RED_DARK_1;
          }
        }
      }
    }

    .GreenMedium {
      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GREEN_LIGHT_2;
          }
        }
      }

      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GREEN;
          }
        }
      }
    }

    .GreenGrayMedium {
      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GREEN;
          }
        }
      }

      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GRAY_DARK_3;
          }
        }
      }
    }

    .GreenWhiteMedium {
      .Off,
      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            border-bottom: 1px solid $IO_VISIONSDK_GREEN;
            border-top: 1px solid $IO_VISIONSDK_GREEN;
            height: 38px;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GREEN;
            height: 38px;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GREEN;
            height: 38px;
          }
        }
      }

      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GREEN;
          }
        }
      }

      .On,
      .Active {
        .Splitter + .Text {
          color: $IO_VISIONSDK_GREEN;
        }

        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_WHITE;
          }
        }
      }
    }

    .GreenLowMedium {
      .Off,
      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            border-bottom: 1px solid $IO_VISIONSDK_GREEN_LIGHT_3;
            border-top: 1px solid $IO_VISIONSDK_GREEN_LIGHT_3;
            height: 38px;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GREEN_LIGHT_3;
            height: 38px;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GREEN_LIGHT_3;
            height: 38px;
          }
        }
      }

      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GREEN_LIGHT_3;
          }
        }
      }

      .On,
      .Active {
        .Splitter + .Text {
          color: $IO_VISIONSDK_GREEN_LIGHT_3;
        }

        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_WHITE;
          }
        }
      }
    }

    .GrayMedium {
      .Off,
      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            border-bottom: 1px solid $IO_VISIONSDK_GRAY;
            border-top: 1px solid $IO_VISIONSDK_GRAY;
            height: 38px;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_3;
            height: 38px;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_3;
            height: 38px;
          }
        }
      }

      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GRAY_DARK_3;
          }
        }
      }

      .On,
      .Active {
        .Splitter + .Text {
          color: $IO_VISIONSDK_GRAY_DARK_3;
        }

        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $COM_WUI_FRAMEWORK_WHITE;
          }
        }
      }
    }

    .GraySmall {
      .Splitter + .Text {
        top: 5px;
      }

      .Background {
        .Left,
        .Center,
        .Right {
          height: 25px;
        }
      }

      [guiType="Button"] > .Background > .Center > .Envelop {
        height: 25px;

        > .Content {
          height: 25px;
        }
      }

      .Off {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_7;
          }
        }
      }

      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_6;
          }
        }
      }
    }
  }
}

.WUIJRE {
  .#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
    .Button {
      .Splitter + .Text {
        font-size: 14px;
      }
    }
  }
}
