// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="CheckBox"] {
    .Text {
      color: $IO_VISIONSDK_GRAY_DARK_10;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      padding-left: 10px;
      top: 1px;
    }
  }

  .CheckBox {
    .Icon {
      height: 20px;
      width: 20px;
    }

    .Disable {
      .Text {
        color: $IO_VISIONSDK_GRAY_DARK_6;
      }

      .Unchecked .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_UNCHECKED_DISABLE no-repeat;
      }

      .Checked .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_CHECKED_DISABLE no-repeat;
      }
    }

    .Error {
      .Unchecked .Off .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_UNCHECKED_ERROR no-repeat;
      }

      .Checked .Off .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_CHECKED_ERROR no-repeat;
      }
    }

    .Unchecked {
      .Off .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_UNCHECKED_OFF no-repeat;
      }

      .On .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_UNCHECKED_ON no-repeat;
      }

      .Active .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_UNCHECKED_ACTIVE no-repeat;
      }
    }

    .Checked {
      .Off .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_CHECKED_OFF no-repeat;
      }

      .On .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_CHECKED_ON no-repeat;
      }

      .Active .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_CHECKBOX_CHECKED_ACTIVE no-repeat;
      }
    }
  }
}
