// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .ConnectorHolder {
    //todo : FIX COLORS
    // sass-lint:disable-block no-vendor-prefixes no-color-literals shorthand-values no-important
    $borderRadius: 8px;
    $emptyBorderRadius: 30px;
    $animTime: 300ms;
    $connectorAnim: cubic-bezier(.6, -.28, .74, .05);
    $swapAnim: ease-out;
    $innerBorderColor: $IO_VISIONSDK_GRAY_LIGHT_1;
    @mixin cross($size: 10, $thickness: 2, $topOffset: 0, $leftOffset: 0) {
      &:before {
        background-color: $IO_VISIONSDK_GRAY_DARK_2;
        border-radius: 1px;
        content: " ";
        display: block;
        height: #{$thickness}px;
        left: 50%;
        margin-left: #{-$size/2 + $leftOffset}px;
        margin-top: #{-$thickness/2 + $topOffset}px;
        position: absolute;
        top: 50%;
        width: #{$size}px;
      }

      &:after {
        background-color: $IO_VISIONSDK_GRAY_DARK_2;
        border-radius: 1px;
        content: " ";
        display: block;
        height: #{$size}px;
        left: 50%;
        margin-left: #{-$thickness/2 + $leftOffset}px;
        margin-top: #{-$size/2 + $topOffset}px;
        position: absolute;
        top: 50%;
        width: #{$thickness}px;
      }
    }

    > .Output,
    > .Input {
      position: absolute;
      width: 24px;
      z-index: 2;

      > .On {
        > .Enable,
        > .Disable {
          > .On,
          > .Off {
            .KernelNodeConnector {
              .Input,
              .Output {
                -moz-transition: margin $connectorAnim $animTime;
                -o-transition: margin $connectorAnim $animTime;
                -webkit-transition: margin $connectorAnim $animTime;
                transition: margin $connectorAnim $animTime;
              }
            }
          }
        }
      }

      > .On,
      > .Off {
        > .Disable {
          > .On,
          > .Off {
            .Connectors {
              @include cross();

              &:hover {
                background-color: #D6D6D6;
                cursor: pointer;
              }
            }
          }
        }

        > .Enable,
        > .Disable {
          > .On,
          > .Off {
            .Icons {
              float: left;

              .Icon {
                -moz-transition: all $swapAnim $animTime;
                -o-transition: all $swapAnim $animTime;
                -webkit-transition: all $swapAnim $animTime;
                background-color: #D0D0D0;
                display: block;
                height: 18px;
                transition: all $swapAnim $animTime;
                width: 18px;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            .Connectors {
              -moz-transition: border-radius $swapAnim $animTime;
              -o-transition: border-radius $swapAnim $animTime;
              -webkit-transition: border-radius $swapAnim $animTime;
              background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
              float: left;
              min-height: 100px;
              transition: border-radius $swapAnim $animTime;
              width: 22px;

              [guiType="ConnectorEnvelop"] {
                width: 22px;

                & > div {
                  display: table-cell;
                  height: 100px;
                  text-align: center;
                  vertical-align: middle;
                  width: 24px;

                  & > div {
                    display: inline-block;
                  }
                }

                &.On {
                  background-color: #D6D6D6;
                  cursor: pointer;
                }

                &.Active {
                  background-color: #C3C3C3;
                  cursor: pointer;
                }

                .KernelNodeConnector {
                  width: 22px;

                  .Input,
                  .Output {
                    height: 10px;
                    width: 10px;
                  }

                  .Input {
                    float: right;
                  }

                  .Output {
                    float: left;
                  }
                }
              }
            }
          }
        }
      }
    }

    > .Output {
      left: -24px;

      > .On,
      > .Off {
        > .Disable {
          > .On {
            .Connectors {
              border-radius: 0 $emptyBorderRadius $emptyBorderRadius 0;
            }
          }

          > .Off {
            .Connectors {
              border-radius: $emptyBorderRadius 0 0 $emptyBorderRadius;
            }
          }
        }

        > .Enable {
          > .On {
            .Connectors {
              border-radius: 0 $borderRadius $borderRadius 0;
            }
          }

          > .Off {
            .Connectors {
              border-radius: $borderRadius 0 0 $borderRadius;
            }
          }
        }

        > .Enable,
        > .Disable {
          > .On {
            .Connectors {
              border-left: 1px solid $innerBorderColor;
              border-right: 1px solid $IO_VISIONSDK_GRAY_LIGHT_1;

              [guiType="ConnectorEnvelop"] {
                border-radius: 0 $borderRadius $borderRadius 0;
              }
            }

            .Icon {
              left: 0;
            }

            .BeforeButtonEnvelop {
              .Icon {
                @include cross(8, 2, 1, -1);
                border-radius: 0 13px 0 0;
                transform-origin: bottom left;
              }
            }

            .AfterButtonEnvelop {
              .Icon {
                @include cross(8, 2, -1, -1);
                border-radius: 0 0 13px 0;
                transform-origin: top left;
              }
            }
          }

          > .Off {
            .Connectors {
              border-left: 1px solid $IO_VISIONSDK_GRAY_LIGHT_1;
              border-right: 1px solid $innerBorderColor;

              [guiType="ConnectorEnvelop"] {
                border-radius: $borderRadius 0 0 $borderRadius;
              }
            }

            .Icon {
              left: 6px;
            }

            .BeforeButtonEnvelop {
              .Icon {
                @include cross(8, 2, 1, 1);
                border-radius: 13px 0 0 0;
                transform-origin: bottom right;
              }
            }

            .AfterButtonEnvelop {
              .Icon {
                @include cross(8, 2, -1, 1);
                border-radius: 0 0 0 13px;
                transform-origin: top right;
              }
            }
          }
        }
      }
    }

    > .Input {
      right: -24px;

      > .On,
      > .Off {
        > .Disable {
          > .On {
            .Connectors {
              border-radius: $emptyBorderRadius 0 0 $emptyBorderRadius;
            }
          }

          > .Off {
            .Connectors {
              border-radius: 0 $emptyBorderRadius $emptyBorderRadius 0;
            }
          }
        }

        > .Enable {
          > .On {
            .Connectors {
              border-radius: $borderRadius 0 0 $borderRadius;
            }
          }

          > .Off {
            .Connectors {
              border-radius: 0 $borderRadius $borderRadius 0;
            }
          }
        }

        > .Enable,
        > .Disable {
          > .On {
            .Connectors {
              border-left: 1px solid $IO_VISIONSDK_GRAY_LIGHT_1;
              border-right: 1px solid $innerBorderColor;

              [guiType="ConnectorEnvelop"] {
                border-radius: $borderRadius 0 0 $borderRadius;
              }
            }

            .Icon {
              left: 6px;
            }

            .BeforeButtonEnvelop {
              .Icon {
                @include cross(8, 2, 1, 1);
                border-radius: 13px 0 0 0;
                transform-origin: bottom right;
              }
            }

            .AfterButtonEnvelop {
              .Icon {
                @include cross(8, 2, -1, 1);
                border-radius: 0 0 0 13px;
                transform-origin: top right;
              }
            }
          }

          > .Off {
            .Connectors {
              border-left: 1px solid $innerBorderColor;
              border-right: 1px solid $IO_VISIONSDK_GRAY_LIGHT_1;

              [guiType="ConnectorEnvelop"] {
                border-radius: 0 $borderRadius $borderRadius 0;
              }
            }

            .Icon {
              left: 0;
            }

            .BeforeButtonEnvelop {
              .Icon {
                @include cross(8, 2, 1, -1);
                border-radius: 0 13px 0 0;
                transform-origin: bottom left;
              }
            }

            .AfterButtonEnvelop {
              .Icon {
                @include cross(8, 2, -1, -1);
                border-radius: 0 0 13px 0;
                transform-origin: top left;
              }
            }
          }
        }
      }
    }
  }
}
