// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .Dialog {
    .Content .Empty {
      background-color: $IO_VISIONSDK_GRAY_LIGHT_10;
      margin-left: 5px;
      margin-right: 5px;
    }

    > .Background {
      @include setOpacity(50);
      background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;
    }

    .Active > .Envelop {
      border: 1px dotted $IO_VISIONSDK_GREEN;
    }

    .Envelop > .Bottom .ResizeBar .Y {
      left: -3px;
    }

    .DragBar {
      height: 20px;
      left: -3px;
    }

    [guiType="Dialog"] {
      > .Envelop {
        // sass-lint:disable-block no-color-literals
        box-shadow: 2px 5px 15px rgba(0, 0, 0, .5);

        > .Top,
        > .Middle,
        > .Bottom {
          > .Left,
          > .Right {
            width: 5px;
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Center .Header,
          > .Right {
            height: 20px;
          }
        }

        > .Middle {
          > .Center > .Content {
            left: -5px;
          }
        }

        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            height: 5px;
          }
        }

        > .Middle,
        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_10;
          }
        }
      }
    }

    .Blue {
      [guiType="Dialog"] > .Envelop {
        .ScrollBar {
          .Vertical,
          .Horizontal {
            .Tracker .Button {
              .Active {
                .Top,
                .Center,
                .Bottom {
                  background-color: $IO_VISIONSDK_SKYBLUE;
                }
              }
            }
          }
        }

        > .Top {
          > .Left,
          > .Center,
          > .Right {
            background-color: $IO_VISIONSDK_SKYBLUE;
          }
        }
      }
    }

    .Green {
      [guiType="Dialog"] > .Envelop {
        > .Top {
          > .Left,
          > .Center,
          > .Right {
            background-color: $IO_VISIONSDK_GREEN;
          }
        }
      }
    }

    .Red {
      [guiType="Dialog"] > .Envelop {
        > .Top {
          > .Left,
          > .Center,
          > .Right {
            background-color: $IO_VISIONSDK_RED;
          }
        }
      }
    }

    .Transparent {
      [guiType="Dialog"] > .Envelop {
        > .Top,
        > .Middle,
        > .Bottom {
          > .Left,
          > .Center,
          > .Right {
            background-color: transparent;
          }
        }
      }
    }
  }
}
