// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .DirectoryBrowser {
    background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;

    .Loader {
      .Background {
        background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;
      }

      .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_SPINNER_TRANSPARENT_BIG no-repeat;
        height: 60px;
        width: 60px;
      }
    }

    .Item {
      .Off,
      .On,
      .Active {
        color: $IO_VISIONSDK_GRAY_DARK_9;
        font-family: "LatoThin", sans-serif;
        height: 18px;
      }

      .On {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_2;
      }

      .Active {
        background-color: $IO_VISIONSDK_GREEN_LIGHT_5;
      }

      .Text {
        font-size: 12px;
        left: 0;
        padding-right: 18px;
      }

      .Nested {
        width: 18px;
      }

      .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_FILE no-repeat;
        height: 13px;
        left: 0;
        margin-left: 8px;
        margin-right: 8px;
        top: 3px;
        width: 9px;
      }

      .MyComputer .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_COMPUTER no-repeat;
        height: 12px;
        margin-left: 9px;
        margin-right: 9px;
        width: 14px;
      }

      .Recent .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_RECENT no-repeat;
        height: 13px;
        width: 16px;
      }

      .Drive .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_DRIVE no-repeat;
        height: 12px;
        width: 16px;
      }

      .Favorites .Icon {
        background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_FAVORITES no-repeat;
        height: 12px;
        width: 16px;
      }

      .Directory {
        .Icon {
          background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_OPENED_FOLDER no-repeat;
          height: 12px;
          margin-left: 9px;
          margin-right: 4px;
          width: 19px;
        }

        .Last {
          .Icon {
            background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_CLOSED_FOLDER no-repeat;
            height: 11px;
            margin-left: 9px;
            margin-right: 8px;
            width: 15px;
          }
        }

        .Hidden {
          .Icon {
            background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_HIDDEN_FOLDER no-repeat;
            height: 11px;
            margin-left: 9px;
            margin-right: 8px;
            width: 15px;
          }
        }
      }

      .File {
        .Icon {
          background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_FILE no-repeat;
          height: 13px;
          margin-left: 12px;
          margin-right: 11px;
          top: 3px;
          width: 9px;
        }

        .Hidden {
          .Icon {
            background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_HIDDEN_FILE no-repeat;
          }
        }
      }

      .FSLink {
        .Icon {
          background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_LINK no-repeat;
          height: 13px;
          margin-left: 12px;
          margin-right: 10px;
          top: 3px;
          width: 10px;
        }

        .Hidden {
          .Icon {
            background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_HIDDEN_LINK no-repeat;
          }
        }
      }

      .TextField {
        height: 18px;

        .On,
        .Active {
          background: none;
        }

        [guiType="TextField"] {
          > .Background {
            .Left,
            .Center,
            .Right {
              background: none;
              border-width: 0;
              height: 18px;
            }

            .Left,
            .Right {
              width: 0;
            }
          }
        }

        input {
          color: $IO_VISIONSDK_GRAY_DARK_10;
          font-family: "LatoThin", sans-serif;
          font-size: 12px;
          font-weight: normal;
          height: 18px;
        }
      }
    }
  }
}
