// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="DropDownList"] {
    > .List .Background .Middle .Center > .Content {
      left: -10px;
      top: -26px;
    }
  }

  .DropDownList {
    .Property {
      .Field {
        .Background {
          .Left,
          .Center,
          .Right {
            background-color: $IO_VISIONSDK_WHITE;
            height: 27px;
          }

          .Left,
          .Right {
            width: 10px;
          }
        }

        .Item {
          left: -9px;
          top: 4px;

          .Text {
            @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GREEN);
            color: $IO_VISIONSDK_GRAY_DARK_7;
          }
        }
      }

      .Disable .Field .Background {
        .Left,
        .Right,
        .Center {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
        }
      }

      .Error .Field {
        .Background,
        .Selected .Background {
          .Left,
          .Center,
          .Right {
            border-bottom: 2px solid $IO_VISIONSDK_RED_DARK_1;
            height: 25px;
          }
        }

        .Selected .Item .Text {
          color: $IO_VISIONSDK_GRAY_DARK_7;
        }
      }

      .On {
        .Field {
          .Background,
          .Selected .Background {
            .Left,
            .Center,
            .Right {
              border-bottom: 1px solid $IO_VISIONSDK_GREEN;
              height: 26px;
            }
          }

          .Selected .Item .Text {
            color: $IO_VISIONSDK_GRAY_DARK_7;
          }
        }
      }

      .Active {
        .Field {
          .Background,
          .Selected .Background {
            .Left,
            .Center,
            .Right {
              border-bottom: 2px solid $IO_VISIONSDK_GREEN;
              height: 25px;
            }
          }

          .Selected .Item .Text {
            color: $IO_VISIONSDK_GRAY_DARK_7;
          }
        }
      }

      .List {
        height: 27px;
        width: 27px;

        .Background {
          height: 27px;

          .Top,
          .Middle,
          .Bottom {
            .Left,
            > .Center,
            .Right {
              background-color: $IO_VISIONSDK_WHITE;
            }
          }

          .Top,
          .Bottom {
            .Left,
            .Right {
              height: 10px;
              width: 10px;
            }

            .Center {
              height: 10px;
            }
          }

          .Middle,
          .Bottom {
            .Left {
              border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_4;
            }

            .Right {
              border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_4;
            }
          }

          .Top {
            .Left {
              border-left: 1px solid $IO_VISIONSDK_WHITE;
            }

            .Right {
              border-right: 1px solid $IO_VISIONSDK_WHITE;
            }

            .Left,
            .Center,
            .Right {
              border-bottom: 2px solid $IO_VISIONSDK_GREEN;
              height: 25px;
            }
          }

          .Middle {
            .Left,
            .Right {
              width: 10px;
            }
          }

          .Bottom {
            .Left,
            .Center,
            .Right {
              border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_4;
            }
          }
        }

        .ScrollBarEnvelop {
          width: 5px;
        }

        .Selected {
          height: 26px;

          .Item .Text {
            top: 5px;
          }
        }

        .Available {
          .Item {
            .Off,
            .On,
            .Active {
              height: 28px;
            }

            .On,
            .Active {
              background: $IO_VISIONSDK_GREEN_LIGHT_5 repeat;
            }
          }
        }

        .Item {
          .Icon,
          .Text {
            top: 5px;
          }
        }
      }

      .Item {
        height: 28px;

        .Icon,
        .Text {
          left: 9px;
          top: 2px;
        }

        .Icon {
          margin-right: 5px;
          top: 10px;
        }

        .Text {
          color: $IO_VISIONSDK_GRAY_DARK_7;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          // padding-right: 10px;
        }
      }

      .Hint .Item .Text {
        // sass-lint:disable-block no-important
        color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT !important;
      }

      .Disable .Field .Item .Text {
        color: $IO_VISIONSDK_GRAY_DARK_6;
      }
    }

    .Setting {
      $border: 1px solid $IO_VISIONSDK_GRAY_LIGHT_6;
      @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GREEN);

      .Field,
      .List,
      .On .Field .Selected,
      .Active .Field .Selected {
        .Item {
          height: 26px;
          top: 0;

          .Text {
            color: $IO_VISIONSDK_GRAY_DARK_9;
            left: 9px;
            line-height: 100%;
            top: 5px;
          }
        }
      }

      .Field .Background {
        .Left,
        .Right,
        .Center {
          background-color: transparent;
          height: 26px;
        }

        .Left {
          border-bottom: $border;
          border-left: $border;
          border-top: $border;
        }

        .Center {
          border-bottom: $border;
          border-top: $border;
        }

        .Right {
          border-bottom: $border;
          border-right: $border;
          border-top: $border;
        }
      }

      .On,
      .Off,
      .Active {
        .Field {
          .Background {
            .Left,
            .Center,
            .Right {
              background: $IO_VISIONSDK_WHITE repeat;
            }
          }
        }
      }

      .Disable {
        .Background {
          .Left,
          .Center,
          .Right {
            background: $IO_VISIONSDK_GRAY_LIGHT_9 repeat;
          }

          .Item .Text {
            @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GRAY_DARK_5);
            color: $IO_VISIONSDK_GRAY_DARK_6;
          }
        }
      }

      .On {
        .Field {
          .Background,
          .Selected .Background {
            .Left {
              border-left: 1px solid $IO_VISIONSDK_GREEN;
            }

            .Left,
            .Center,
            .Right {
              border-bottom: $border;
            }
          }
        }
      }

      .List {
        height: 28px;
        width: 28px;

        .Background {
          height: 28px;

          .Top,
          .Middle,
          .Bottom {
            .Left,
            > .Center,
            .Right {
              background-color: $IO_VISIONSDK_WHITE;
            }
          }

          .Top,
          .Bottom {
            .Left,
            .Right {
              height: 10px;
              width: 10px;
            }

            .Center {
              height: 10px;
            }
          }

          .Middle,
          .Bottom {
            .Left {
              border-left: $border;
            }

            .Right {
              border-right: $border;
            }
          }

          .Top {
            .Left {
              border-left: $border;
            }

            .Right {
              border-right: $border;
            }

            .Left,
            .Center,
            .Right {
              border-bottom: 2px solid $IO_VISIONSDK_GREEN;
              border-top: $border;
              height: 25px;
            }
          }

          .Middle {
            .Center > .Content {
              top: -28px;
            }

            .Left,
            .Right {
              width: 10px;
            }
          }

          .Bottom {
            .Left,
            .Center,
            .Right {
              border-bottom: $border;
            }
          }
        }

        .ScrollBarEnvelop {
          width: 5px;
        }

        .Selected {
          height: 28px;

          .Item {
            .Icon,
            .Text {
              top: 6px;
            }
          }
        }

        .Available {
          $listShadow: rgba(0, 0, 0, .115);
          box-shadow: 0 2px 6px 1px $listShadow;

          .Item {
            .Off,
            .On,
            .Active {
              height: 26px;
            }

            .On,
            .Active {
              background: $IO_VISIONSDK_GREEN_LIGHT_5 repeat;
            }
          }
        }

        .Item {
          .Icon,
          .Text {
            top: 5px;
          }
        }
      }
    }
  }
}
