// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

$IO_VISIONSDK_DROPDOWNBUTTON_ORANGE: (
  buttonAccentColor: $IO_VISIONSDK_WHITE,
  buttonColorActiveFrom: lighten($IO_VISIONSDK_ORANGE, 10%),
  buttonColorActiveTo: lighten($IO_VISIONSDK_ORANGE, 8%),
  buttonColorFrom: $IO_VISIONSDK_ORANGE,
  buttonColorTo: lighten($IO_VISIONSDK_ORANGE, 8%),
  fontSize: 14,
  height: 30,
  isTriangular: true,
  isArrowVisible: true,
  listBackgroundColor: $IO_VISIONSDK_WHITE,
  listActiveColor: lighten($IO_VISIONSDK_ORANGE, 8%),
  listBorderColor: $IO_VISIONSDK_ORANGE,
  listFontActiveColor: $IO_VISIONSDK_WHITE,
  listFontColor: $IO_VISIONSDK_GRAY_DARK_7
);

$IO_VISIONSDK_DROPDOWNBUTTON_SKYBLUE: (
  buttonAccentColor: $IO_VISIONSDK_WHITE,
  buttonColorActiveFrom: saturate($IO_VISIONSDK_SKYBLUE, 50%),
  buttonColorActiveTo: saturate($IO_VISIONSDK_SKYBLUE, 15%),
  buttonColorFrom: $IO_VISIONSDK_SKYBLUE,
  buttonColorTo: saturate($IO_VISIONSDK_SKYBLUE, 15%),
  fontSize: 14,
  height: 30,
  isTriangular: true,
  isArrowVisible: true,
  listActiveColor: lighten($IO_VISIONSDK_SKYBLUE, 15%),
  listBackgroundColor: $IO_VISIONSDK_WHITE,
  listBorderColor: $IO_VISIONSDK_SKYBLUE,
  listFontActiveColor: $IO_VISIONSDK_WHITE,
  listFontColor: $IO_VISIONSDK_GRAY_DARK_7
);

$IO_VISIONSDK_DROPDOWNBUTTON_GREEN: (
  buttonAccentColor: $IO_VISIONSDK_WHITE,
  buttonColorActiveFrom: saturate($IO_VISIONSDK_GREEN, 50%),
  buttonColorActiveTo: saturate($IO_VISIONSDK_GREEN, 10%),
  buttonColorFrom: $IO_VISIONSDK_GREEN,
  buttonColorTo: saturate($IO_VISIONSDK_GREEN, 10%),
  fontSize: 14,
  height: 30,
  isTriangular: true,
  isArrowVisible: true,
  listActiveColor: lighten($IO_VISIONSDK_GREEN, 10%),
  listBackgroundColor: $IO_VISIONSDK_WHITE,
  listBorderColor: $IO_VISIONSDK_GREEN,
  listFontActiveColor: $IO_VISIONSDK_WHITE,
  listFontColor: $IO_VISIONSDK_GRAY_DARK_7
);

$IO_VISIONSDK_DROPDOWNBUTTON_GREENDARK: (
  buttonAccentColor: $IO_VISIONSDK_WHITE,
  buttonColorActiveFrom: saturate($IO_VISIONSDK_GREEN_DARK, 50%),
  buttonColorActiveTo: saturate($IO_VISIONSDK_GREEN_DARK, 10%),
  buttonColorFrom: $IO_VISIONSDK_GREEN_DARK,
  buttonColorTo: saturate($IO_VISIONSDK_GREEN_DARK, 10%),
  fontSize: 14,
  height: 30,
  isTriangular: true,
  isArrowVisible: true,
  listActiveColor: lighten($IO_VISIONSDK_GREEN_DARK, 10%),
  listBackgroundColor: $IO_VISIONSDK_WHITE,
  listBorderColor: $IO_VISIONSDK_GREEN_DARK,
  listFontActiveColor: $IO_VISIONSDK_WHITE,
  listFontColor: $IO_VISIONSDK_GRAY_DARK_7
);

$IO_VISIONSDK_DROPDOWNBUTTON_GRAYLIST: (
  buttonAccentColor: $IO_VISIONSDK_GRAY_DARK_7,
  buttonColorActiveFrom: $IO_VISIONSDK_GRAY_LIGHT_8,
  buttonColorActiveTo: $IO_VISIONSDK_GRAY_LIGHT_8,
  buttonColorFrom: $IO_VISIONSDK_GRAY_LIGHT_9,
  buttonColorTo: $IO_VISIONSDK_GRAY_LIGHT_9,
  height: 28,
  fontSize: 14,
  isTriangular: false,
  isArrowVisible: false,
  listActiveColor: $IO_VISIONSDK_GREEN_LIGHT_5,
  listBackgroundColor: $IO_VISIONSDK_GRAY_LIGHT_8,
  listBorderColor: $IO_VISIONSDK_GRAY_DARK_2,
  listFontActiveColor: $IO_VISIONSDK_GRAY_DARK_7,
  listFontColor: $IO_VISIONSDK_GRAY_DARK_7
);

$IO_VISIONSDK_DROPDOWNBUTTON_GRAYLISTLARGE: (
  buttonAccentColor: $IO_VISIONSDK_WHITE,
  buttonColorActiveFrom: $IO_VISIONSDK_GRAY_DARK_5,
  buttonColorActiveTo: $IO_VISIONSDK_GRAY_DARK_5,
  buttonColorFrom: $IO_VISIONSDK_GRAY_DARK_6,
  buttonColorTo: $IO_VISIONSDK_GRAY_DARK_6,
  height: 30,
  fontSize: 14,
  isTriangular: false,
  isArrowVisible: false,
  listActiveColor: $IO_VISIONSDK_GREEN_LIGHT_5,
  listBackgroundColor: $IO_VISIONSDK_GRAY_LIGHT_8,
  listBorderColor: $IO_VISIONSDK_GRAY_DARK_2,
  listFontActiveColor: $IO_VISIONSDK_GRAY_DARK_7,
  listFontColor: $IO_VISIONSDK_GRAY_DARK_10
);

$IO_VISIONSDK_DROPDOWNBUTTON_TYPEMAP: (
  // sass-lint:disable-block no-color-keywords
  Orange: $IO_VISIONSDK_DROPDOWNBUTTON_ORANGE,
  SkyBlue: $IO_VISIONSDK_DROPDOWNBUTTON_SKYBLUE,
  Green: $IO_VISIONSDK_DROPDOWNBUTTON_GREEN,
  GreenDark: $IO_VISIONSDK_DROPDOWNBUTTON_GREENDARK,
  GrayList: $IO_VISIONSDK_DROPDOWNBUTTON_GRAYLIST,
  GrayListLarge: $IO_VISIONSDK_DROPDOWNBUTTON_GRAYLISTLARGE
);

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .DropDownButton {
    @include DropDownButton($IO_VISIONSDK_DROPDOWNBUTTON_TYPEMAP);
  }
}
