// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .FormInput {
    border-bottom: 1px solid $IO_VISIONSDK_GRAY_LIGHT_2;
    margin-bottom: 2px;

    .Label {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: .8px;
      padding-bottom: 3px;
    }

    .Required .Label {
      color: $IO_VISIONSDK_RED_DARK_1;
      padding-left: 3px;
    }

    .PropertyForm,
    .PropertyListForm,
    .PropertyPickerForm {

      .Required .Label {
        display: none;
      }

      .InputLabel,
      .TextField,
      .DropDownList,
      .NumberPicker {
        clear: none;
        float: left;
      }

      .NumberPicker {
        background-color: $IO_VISIONSDK_WHITE;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
