// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .SpinnerWhiteSmall,
  .SpinnerGraySmall,
  .SpinnerGrapheneSmall {
    .Icon {
      height: 15px;
      width: 15px;
    }
  }

  .SpinnerWhiteBig,
  .SpinnerGrayBig,
  .SpinnerGrapheneBig,
  .SpinnerTransparentBig {
    .Icon {
      height: 60px;
      width: 60px;
    }
  }

  .SpinnerWhiteSmall .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SPINNER_WHITE_SMALL no-repeat;
  }

  .SpinnerWhiteBig .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SPINNER_WHITE_BIG no-repeat;
  }

  .SpinnerGraySmall .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SPINNER_GRAY_SMALL no-repeat;
  }

  .SpinnerGrayBig .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SPINNER_GRAY_BIG no-repeat;
  }

  .SpinnerGrapheneSmall .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SPINNER_GRAPHENE_SMALL no-repeat;
  }

  .SpinnerGrapheneBig .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SPINNER_GRAPHENE_BIG no-repeat;
  }

  .SpinnerTransparentBig .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SPINNER_TRANSPARENT_BIG no-repeat;
  }

  .Directory .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_DIRECTORYBROWSER_OPENED_FOLDER no-repeat;
    height: 12px;
    width: 19px;
  }

  .WizardLogo .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_WIZARD_LOGO no-repeat;
    height: 26px;
    width: 175px;
  }

  .ProjectFolder .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_PROJECT_FOLDER no-repeat;
    height: 18px;
    width: 23px;
  }

  .Build .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_BUILD no-repeat;
    height: 18px;
    width: 13px;
  }

  .RunInLoop .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_RUN_INLOOP no-repeat;
    height: 18px;
    width: 20px;
  }

  .StopLoop .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_STOP_LOOP no-repeat;
    height: 18px;
    width: 20px;
  }

  .RunOnce .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_RUN_ONCE no-repeat;
    height: 17px;
    width: 17px;
  }

  .Save .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_SAVE no-repeat;
    height: 17px;
    width: 17px;
  }

  .Load .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_LOAD no-repeat;
    height: 15px;
    width: 20px;
  }

  .Terminal .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_TERMINAL no-repeat;
    height: 18px;
    width: 23px;
  }

  .Undo .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_UNDO no-repeat;
    height: 15px;
    width: 20px;
  }

  .Redo .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_REDO no-repeat;
    height: 15px;
    width: 20px;
  }

  .Help .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_HELP no-repeat;
    height: 16px;
    width: 10px;
  }

  .NodeBlocks .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_NODE_BLOCKS no-repeat;
    height: 20px;
    width: 24px;
  }

  .NodesList .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_NODES_LIST no-repeat;
    height: 20px;
    width: 24px;
  }

  .Search .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_SEARCH no-repeat;
    height: 17px;
    width: 19px;
  }

  .Clear .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_CLEAR no-repeat;
    height: 16px;
    width: 16px;
  }

  .AbsoluteDifference .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ABSOLUTE_DIFFERENCE no-repeat;
    height: 27px;
    margin-left: 9px;
    margin-top: 9px;
    width: 27px;
  }

  .Accumulate .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ACCUMULATE no-repeat;
    height: 14px;
    margin-left: 11px;
    margin-top: 16px;
    width: 23px;
  }

  .AccumulateSquared .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ACCUMULATE_SQUARED no-repeat;
    height: 21px;
    margin-left: 10px;
    margin-top: 12px;
    width: 26px;
  }

  .AccumulateWeighted .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ACCUMULATE_WEIGHTED no-repeat;
    height: 21px;
    margin-left: 10px;
    margin-top: 12px;
    width: 25px;
  }

  .ArithmeticAddition .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ARITHMETIC_ADDITION no-repeat;
    height: 25px;
    margin-left: 11px;
    margin-top: 10px;
    width: 24px;
  }

  .ArithmeticSubtraction .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ARITHMETIC_SUBTRACTION no-repeat;
    height: 9px;
    margin-left: 11px;
    margin-top: 18px;
    width: 23px;
  }

  .BitDepthConvert .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_BIT_DEPTH_CONVERT no-repeat;
    height: 21px;
    margin-left: 11px;
    margin-top: 12px;
    width: 24px;
  }

  .BitwiseAnd .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_BITWISE_AND no-repeat;
    height: 14px;
    margin-left: 11px;
    margin-top: 16px;
    width: 23px;
  }

  .BitwiseExclusiveOr .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_BITWISE_EXCLUSIVE_OR no-repeat;
    height: 16px;
    margin-left: 11px;
    margin-top: 15px;
    width: 23px;
  }

  .BitwiseInclusiveOr .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_BITWISE_INCLUSIVE_OR no-repeat;
    height: 13px;
    margin-left: 11px;
    margin-top: 16px;
    width: 24px;
  }

  .BitwiseNot .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_BITWISE_NOT no-repeat;
    height: 14px;
    margin-left: 11px;
    margin-top: 16px;
    width: 24px;
  }

  .BoxFilter .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_BOX_FILTER no-repeat;
    height: 21px;
    margin-left: 13px;
    margin-top: 12px;
    width: 19px;
  }

  .CannyEdgeDetector .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_CANNY_EDGE_DETECTOR no-repeat;
    height: 22px;
    margin-left: 11px;
    margin-top: 12px;
    width: 23px;
  }

  .ChannelCombine .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_CHANNEL_COMBINE no-repeat;
    height: 20px;
    margin-left: 11px;
    margin-top: 13px;
    width: 24px;
  }

  .ChannelExtract .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_CHANNEL_EXTRACT no-repeat;
    height: 24px;
    margin-left: 12px;
    margin-top: 11px;
    width: 21px;
  }

  .ColorConvert .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_COLOR_CONVERT no-repeat;
    height: 20px;
    margin-left: 11px;
    margin-top: 13px;
    width: 23px;
  }

  .CustomConvolution .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_CUSTOM_CONVOLUTION no-repeat;
    height: 18px;
    margin-left: 11px;
    margin-top: 14px;
    width: 24px;
  }

  .DilateImage .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_DILATE_IMAGE no-repeat;
    height: 26px;
    margin-left: 11px;
    margin-top: 10px;
    width: 23px;
  }

  .EqualizeHistogram .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_EQUALIZE_HISTOGRAM no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .ErodeImage .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ERODE_IMAGE no-repeat;
    height: 17px;
    margin-left: 11px;
    margin-top: 14px;
    width: 23px;
  }

  .FastCorner .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_FAST_CORNER no-repeat;
    height: 21px;
    margin-left: 11px;
    margin-top: 12px;
    width: 24px;
  }

  .GaussianBlur .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_GAUSSIAN_BLUR no-repeat;
    height: 22px;
    margin-left: 8px;
    margin-top: 12px;
    width: 30px;
  }

  .GaussianImagePyramid .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_GAUSSIAN_IMAGE_PYRAMID no-repeat;
    height: 23px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .HalfScaleGaussian .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_HALF_SCALE_GAUSSIAN no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .HarrisCorner .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_HARRIS_CORNER no-repeat;
    height: 15px;
    margin-left: 11px;
    margin-top: 15px;
    width: 24px;
  }

  .Histogram .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_HISTOGRAM no-repeat;
    height: 24px;
    margin-left: 12px;
    margin-top: 11px;
    width: 23px;
  }

  .IntegralImage .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_INTEGRAL_IMAGE no-repeat;
    height: 23px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .Magnitude .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_MAGNITUDE no-repeat;
    height: 18px;
    margin-left: 10px;
    margin-top: 14px;
    width: 25px;
  }

  .MeanAndStandard .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_MEAN_AND_STANDARD no-repeat;
    height: 19px;
    margin-left: 11px;
    margin-top: 13px;
    width: 23px;
  }

  .MedianFilter .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_MEDIAN_FILTER no-repeat;
    height: 21px;
    margin-left: 10px;
    margin-top: 12px;
    width: 25px;
  }

  .MinAndMaxLocation .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_MIN_AND_MAX_LOCATION no-repeat;
    height: 18px;
    margin-left: 6px;
    margin-top: 14px;
    width: 34px;
  }

  .OpticalFlow .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_OPTICAL_FLOW no-repeat;
    height: 16px;
    margin-left: 11px;
    margin-top: 15px;
    width: 23px;
  }

  .Phase .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_PHASE no-repeat;
    height: 20px;
    margin-left: 11px;
    margin-top: 13px;
    width: 24px;
  }

  .PixelWiseMultiplication .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_PIXEL_WISE_MULTIPLICATION no-repeat;
    height: 13px;
    margin-left: 11px;
    margin-top: 16px;
    width: 24px;
  }

  .Remap .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_REMAP no-repeat;
    height: 17px;
    margin-left: 11px;
    margin-top: 14px;
    width: 24px;
  }

  .ScaleImage .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SCALE_IMAGE no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 23px;
  }

  .Sobel .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SOBEL no-repeat;
    height: 23px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .TableLookUp .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TABLE_LOOK_UP no-repeat;
    height: 22px;
    margin-left: 11px;
    margin-top: 12px;
    width: 23px;
  }

  .Threshold .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_THRESHOLD no-repeat;
    height: 14px;
    margin-left: 10px;
    margin-top: 16px;
    width: 26px;
  }

  .WarpPerspective .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_WARP_PERSPECTIVE no-repeat;
    height: 21px;
    margin-left: 12px;
    margin-top: 12px;
    width: 24px;
  }

  .WarpAffine .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_WARP_AFFINE no-repeat;
    height: 19px;
    margin-left: 10px;
    margin-top: 12px;
    width: 25px;
  }

  .NonLinearFilter .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_NONLINEAR_FILTER no-repeat;
    height: 27px;
    margin-left: 11px;
    margin-top: 13px;
    width: 19px;
  }

  .LaplacePyramid .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_LAPLACE_PYRAMID no-repeat;
    height: 23px;
    margin-left: 12px;
    margin-top: 11px;
    width: 24px;
  }

  .LaplacePyramidReconstruction .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_LAPLACE_PYRAMID_RECONSTRUCTION no-repeat;
    height: 25px;
    margin-left: 13px;
    margin-top: 9px;
    width: 21px;
  }

  .DataObjectCopy .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_DATA_OBJECT_COPY no-repeat;
    height: 25px;
    margin-left: 8px;
    margin-top: 10px;
    width: 25px;
  }

  .NonMaximaSuppression .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_NON_MAXIMA_SUPPRESSION no-repeat;
    height: 20px;
    margin-left: 9px;
    margin-top: 15px;
    width: 28px;
  }

  .Min .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_MIN no-repeat;
    height: 20px;
    margin-left: 11px;
    margin-top: 11px;
    width: 27px;
  }

  .Max .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_MAX no-repeat;
    height: 20px;
    margin-left: 9px;
    margin-top: 15px;
    width: 27px;
  }

  .BilateralFilter .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_BILATERAL_FILTER no-repeat;
    height: 20px;
    margin-left: 12px;
    margin-top: 12px;
    width: 25px;
  }

  .MatchTemplate .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_MATCH_TEMPLATE no-repeat;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
    width: 26px;
  }

  .LBP .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_LBP no-repeat;
    height: 25px;
    margin-left: 11px;
    margin-top: 11px;
    width: 25px;
  }

  .HOGCells .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_HOG_CELLS no-repeat;
    height: 25px;
    margin-left: 13px;
    margin-top: 10px;
    width: 20px;
  }

  .HOGFeatures .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_HOG_FEATURES no-repeat;
    height: 25px;
    margin-left: 13px;
    margin-top: 10px;
    width: 20px;
  }

  .HoughLinesP .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_HOUGH_LINES_P no-repeat;
    height: 20px;
    margin-left: 10px;
    margin-top: 14px;
    width: 25px;
  }

  .TensorMultiply .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TENSOR_MULTIPLY no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .TensorAdd .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TENSOR_ADD no-repeat;
    height: 25px;
    margin-left: 10px;
    margin-top: 11px;
    width: 26px;
  }

  .TensorSubtract .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TENSOR_SUBTRACT no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .TensorTableLookUp .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TENSOR_TABLE_LOOK_UP no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .TensorTranspose .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TENSOR_TRANSPOSE no-repeat;
    height: 25px;
    margin-left: 11px;
    margin-top: 10px;
    width: 24px;
  }

  .TensorConvertBitDepth .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TENSOR_CONVERT_BIT_DEPTH no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .TensorMatrixMultiply .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_TENSOR_MATRIX_MULTIPLY no-repeat;
    height: 24px;
    margin-left: 11px;
    margin-top: 11px;
    width: 25px;
  }

  .ActivationLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ACTIVATION_LAYER no-repeat;
    height: 24px;
    margin-left: 7px;
    margin-top: 10px;
    width: 34px;
  }

  .ConvolutionLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_CONVOLUTION_LAYER no-repeat;
    height: 31px;
    margin-left: 8px;
    margin-top: 7px;
    width: 30px;
  }

  .DeconvolutionLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_DECONVOLUTION_LAYER no-repeat;
    height: 26px;
    margin-left: 8px;
    margin-top: 9px;
    width: 30px;
  }

  .FullyConnectedLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_FULLY_CONNECTED_LAYER no-repeat;
    height: 26px;
    margin-left: 8px;
    margin-top: 9px;
    width: 30px;
  }

  .NormalizationLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_NORMALIZATION_LAYER no-repeat;
    height: 34px;
    margin-left: 8px;
    margin-top: 5px;
    width: 30px;
  }

  .PoolingLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_POOLING_LAYER no-repeat;
    height: 32px;
    margin-left: 8px;
    margin-top: 7px;
    width: 30px;
  }

  .RoiPoolingLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ROI_POOLING_LAYER no-repeat;
    height: 32px;
    margin-left: 8px;
    margin-top: 7px;
    width: 30px;
  }

  .SoftmaxLayer .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_SOFTMAX_LAYER no-repeat;
    height: 26px;
    margin-left: 8px;
    margin-top: 10px;
    width: 30px;
  }

  .VxNode .Icon {
    border: 4px solid $IO_VISIONSDK_WHITE;
    border-radius: 15px;
    height: 18px;
    margin-left: 10px;
    margin-top: 10px;
    width: 18px;
  }

  .ReportCollectData,
  .ReportSend,
  .ReportSuccess,
  .ReportError {
    .Icon {
      height: 194px;
      width: 194px;
    }
  }

  .ReportCollectData .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_REPORT_COLLECTDATA no-repeat;
  }

  .ReportSend .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_REPORT_SEND no-repeat;
  }

  .ReportSuccess .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_REPORT_SUCCESS no-repeat;
  }

  .ReportError .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_REPORT_ERROR no-repeat;
  }

  .Info .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_INFO no-repeat;
    height: 18px;
    width: 18px;
  }

  .ImageInput .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_IMAGE_INPUT no-repeat;
    height: 16px;
    margin-left: 11px;
    margin-top: 15px;
    width: 28px;
  }

  .ImageOutput .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_IMAGE_OUTPUT no-repeat;
    height: 16px;
    margin-left: 7px;
    margin-top: 15px;
    width: 28px;
  }

  .VideoInput .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_VIDEO_INPUT no-repeat;
    height: 16px;
    margin-left: 9px;
    margin-top: 15px;
    width: 28px;
  }

  .VideoOutput .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_VIDEO_OUTPUT no-repeat;
    height: 16px;
    margin-left: 9px;
    margin-top: 15px;
    width: 28px;
  }

  .Camera .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_CAMERA no-repeat;
    height: 17px;
    margin-left: 13px;
    margin-top: 13px;
    width: 20px;
  }

  .Display .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_DISPLAY no-repeat;
    height: 19px;
    margin-left: 11px;
    margin-top: 14px;
    width: 23px;
  }

  .DataInput .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_DATA_INPUT no-repeat;
    height: 27px;
    margin-left: 11px;
    margin-top: 11px;
    width: 24px;
  }

  .DataOutput .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_DATA_OUTPUT no-repeat;
    height: 27px;
    margin-left: 11px;
    margin-top: 9px;
    width: 24px;
  }

  .VXData .Icon {
    background-color: $IO_VISIONSDK_WHITE;
    border-radius: 10px;
    height: 19px;
    margin-left: 13px;
    margin-top: 13px;
    width: 19px;
  }

  .VxGraph .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_GRAPH no-repeat;
    height: 21px;
    margin-left: 8px;
    margin-top: 12px;
    width: 28px;
  }

  .VxContext .Icon {
    background: $IO_VISIONSDK_USERCONTROLS_ICON_CONTEXT no-repeat;
    height: 18px;
    margin-left: 10px;
    margin-top: 14px;
    width: 25px;
  }
}
