// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .ImageButton {
    .AppMinimize {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 16px;
        width: 20px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_MINIMIZE_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_MINIMIZE_ON no-repeat;
      }
    }

    .AppMaximize {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 16px;
        width: 20px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_MAXIMALIZE_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_MAXIMALIZE_ON no-repeat;
      }
    }

    .AppClose {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 16px;
        width: 18px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_CLOSE_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_APP_CLOSE_ON no-repeat;
      }
    }

    .PlusGreen {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 24px;
        width: 24px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_PLUS_BUTTON_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_PLUS_BUTTON_ON no-repeat;
      }
    }

    .GrayBox {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 27px;
        width: 27px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;
      }

      .On,
      .Active {
        background-color: $IO_VISIONSDK_WHITE;
      }

      .Directory .Icon {
        margin-left: 5px;
        top: 7px;
      }
    }

    .KernelNode {
      .Off,
      .On,
      .Active,
      .Disable,
      .Selected {
        border-radius: 2px;
        height: 45px;
        width: 45px;
      }

      .Off,
      .Disable {
        background-color: $IO_VISIONSDK_GRAY_DARK_4;
      }

      .On,
      .Active,
      .Selected {
        background-color: $IO_VISIONSDK_GRAY_DARK_5;
      }
    }

    .RoundClose,
    .RoundOk,
    .RoundUpdate {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 20px;
        width: 20px;
      }
    }

    .RoundClose {
      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_CLOSE_OFF no-repeat;
      }

      .On {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_CLOSE_ON no-repeat;
      }

      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_CLOSE_ACTIVE no-repeat;
      }
    }

    .RoundOk {
      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_OK_OFF no-repeat;
      }

      .On {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_OK_ON no-repeat;
      }

      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_OK_ACTIVE no-repeat;
      }
    }

    .RoundUpdate {
      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_UPDATE_OFF no-repeat;
      }

      .On {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_UPDATE_ON no-repeat;
      }

      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ROUND_UPDATE_ACTIVE no-repeat;
      }
    }

    .Cross {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 16px;
        width: 18px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_CROSS_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_CROSS_ON no-repeat;
      }
    }

    .ArrowLeft {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 17px;
        width: 10px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_LEFT_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_LEFT_ON no-repeat;
      }
    }

    .ArrowRight {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 17px;
        width: 11px;
      }

      .Off,
      .Disable {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_RIGHT_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_RIGHT_ON no-repeat;
      }
    }

    .ArrowLeftWhite {
      .Off,
      .On,
      .Active,
      .Disable {
        // sass-lint:disable-block no-vendor-prefixes
        -webkit-filter: invert(100%);
        filter: invert(100%);
        height: 17px;
        transform: scale(.75);
        width: 10px;
      }

      .Off,
      .Disable {
        @include setOpacity(75);
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_LEFT_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_LEFT_OFF no-repeat;
      }
    }

    .ArrowRightWhite {
      .Off,
      .On,
      .Active,
      .Disable {
        // sass-lint:disable-block no-vendor-prefixes
        -webkit-filter: invert(100%);
        filter: invert(100%);
        height: 17px;
        transform: scale(.75);
        width: 11px;
      }

      .Off,
      .Disable {
        @include setOpacity(75);
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_RIGHT_OFF no-repeat;
      }

      .On,
      .Active {
        background: $IO_VISIONSDK_USERCONTROLS_IMAGEBUTTON_ARROW_RIGHT_OFF no-repeat;
      }
    }

    .ToolbarItem {
      .Off,
      .On,
      .Active,
      .Disable {
        border: 1px solid transparent;
        border-radius: 15px;
        height: 27px;
        width: 27px;
      }

      .Disable {
        @include setOpacity(30);
      }

      .On,
      .Active {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
      }

      .ProjectFolder .Icon {
        margin-left: 2px;
        margin-top: 4px;
      }

      .Build .Icon {
        margin-left: 6px;
        margin-top: 4px;
      }

      .RunInLoop .Icon {
        margin-left: 3px;
        margin-top: 5px;
      }

      .StopLoop .Icon {
        margin-left: 3px;
        margin-top: 5px;
      }

      .RunOnce .Icon {
        margin-left: 5px;
        margin-top: 5px;
      }

      .Save .Icon {
        margin-left: 5px;
        margin-top: 4px;
      }

      .Load .Icon {
        margin-left: 4px;
        margin-top: 6px;
      }

      .Terminal .Icon {
        margin-left: 2px;
        margin-top: 5px;
      }

      .Undo .Icon {
        margin-left: 4px;
        margin-top: 6px;
      }

      .Redo .Icon {
        margin-left: 4px;
        margin-top: 6px;
      }

      .Help .Icon {
        margin-left: 9px;
        margin-top: 5px;
      }
    }

    .Compass {
      .Off,
      .On,
      .Active,
      .Disable {
        height: 22px;
        width: 22px;
      }

      .Off,
      .Disable {
        @include setOpacity(75);
        background: url($IO_VISIONSDK_USERCONTROLS_BASE_INTERFACE_COMPASS_PATH) no-repeat;
        background-size: 22px 22px;
      }

      .On,
      .Active {
        @include setOpacity(100);
        background: url($IO_VISIONSDK_USERCONTROLS_BASE_INTERFACE_COMPASS_PATH) no-repeat;
        background-size: 22px 22px;
      }
    }
  }
}
