// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .InformativeButton {
    // sass-lint:disable-block no-vendor-prefixes
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px dotted $IO_VISIONSDK_GRAY_DARK_1;
    user-select: none;

    .Body {
      background-color: $IO_VISIONSDK_GRAY_LIGHT_5;
      clear: both;
      cursor: pointer;
      height: 45px;
      overflow-x: hidden;
      overflow-y: hidden;

      .Text {
        cursor: pointer;
        display: block;
        font-size: 16px;
        margin-left: 12px;
        margin-top: 6px;
      }

      .Description {
        color: $IO_VISIONSDK_GRAY_DARK_7;
        display: block;
        font-size: 12px;
        margin-left: 12px;
      }
    }

    .On {
      .Body {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_8;
      }
    }

    .Disable .Text {
      color: $IO_VISIONSDK_GRAY_DARK_2;
    }
  }
}
