// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="InputLabel"] {
    > .Background {
      .Left,
      .Center,
      .Right {
        height: 27px;
      }

      .Left,
      .Right {
        width: 10px;
      }

      .Center > .Envelop {
        height: 27px;
        left: -10px;
        top: 0;

        .Text {
          color: $IO_VISIONSDK_GRAY_DARK_2;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          padding-left: 10px;
          top: 5px;
        }
      }
    }
  }

  .InputLabel {
    height: 27px;

    .Property {
      .Background {
        .Left {
          background: $IO_VISIONSDK_GRAY_LIGHT_5 no-repeat;
        }

        .Center {
          background: $IO_VISIONSDK_GRAY_LIGHT_5 repeat-x;
        }

        .Right {
          background: $IO_VISIONSDK_GRAY_LIGHT_5 no-repeat;
        }
      }
    }
  }
}
