// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .InstallationItem {
    clear: both;

    .Body {
      background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;
      clear: both;
      cursor: pointer;
      height: 28px;
      overflow-x: hidden;
      overflow-y: hidden;

      .DiscardIcon {
        float: right;
        left: -15px;
        position: relative;
        top: 4px;
      }

      .Text {
        cursor: pointer;
        float: left;
        font-size: 13px;
        left: 30px;
        position: relative;
        top: 8px;
      }

      .Nested .Text {
        padding-left: 25px;
      }
    }

    .InfoEnvelop {
      background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;
      border-bottom: 1px dotted $IO_VISIONSDK_GRAY;
      border-top: 1px dotted $IO_VISIONSDK_GRAY;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;

      .Icons {
        position: absolute;
        top: -1px;

        .Icon {
          left: 10px;
          top: 5px;
        }
      }

      .Label {
        font-size: 13px;
        padding: 8px 8px 5px 25px;
      }
    }

    .On {
      .Body {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_2;
      }
    }

    .Active {
      .Body {
        background-color: $IO_VISIONSDK_GREEN_LIGHT_5;
      }
    }

    .Disable .Text {
      color: $IO_VISIONSDK_GRAY_DARK_2;
    }
  }
}
