// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .KernelNode {
    border-radius: 20px;

    .IconEnvelop {
      border: 1px solid $IO_VISIONSDK_GRAY;
      border-radius: 20px;
      float: left;
      height: 36px;
      position: relative;
      width: 36px;

      .Icon {
        left: -5px;
        pointer-events: none;
        top: -5px;
      }
    }

    .Selected .On,
    .Selected .Active,
    .Selected .Off,
    .Enable .On,
    .Enable .Active {
      > .IconEnvelop {
        background-color: $IO_VISIONSDK_GRAY;
        border: 1px solid $IO_VISIONSDK_GREEN_LIGHT_1;
        border-radius: 24px;
        float: left;
        height: 46px;
        margin: -5px;
        width: 46px;

        .Icon {
          left: 0;
          top: 0;
        }
      }
    }

    .Enable,
    .Disable {
      .IconEnvelop {
        z-index: 8;
      }
    }

    .Selected,
    .Error {
      .IconEnvelop {
        z-index: 9;
      }
    }

    .Disable,
    .Error {
      .IconEnvelop {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_4;

        .Icon {
          @include setOpacity(50);
        }
      }
    }

    .Error {
      .IconEnvelop {
        background-color: $IO_VISIONSDK_RED_LIGHT_1;
        border: 1px solid $IO_VISIONSDK_RED_DARK_1;
      }
    }

    .Selected .Active,
    .Enable .Active {
      > .IconEnvelop {
        background-color: $IO_VISIONSDK_GRAY_DARK_2;
      }
    }

    .Enable .Off > .IconEnvelop {
      background-color: $IO_VISIONSDK_GRAY_LIGHT_4;
    }

    .ConnectorsEnvelop {
      display: block;
      position: absolute;
      z-index: 10;

      > div {
        position: absolute;
      }
    }
  }
}
