// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .KernelNodeButton {
    // sass-lint:disable-block no-vendor-prefixes
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    .ImageButton,
    .Text {
      pointer-events: none;
    }

    .Simple {
      float: left;

      .Text {
        display: none;
      }
    }

    .Body {
      background-color: $IO_VISIONSDK_GRAY_LIGHT_5;
      clear: both;
      cursor: pointer;
      height: 45px;
      overflow-x: hidden;
      overflow-y: hidden;

      .Text {
        color: $IO_VISIONSDK_GRAY_DARK_9;
        cursor: pointer;
        font-size: 14px;
        left: 60px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        text-overflow: ellipsis;
        top: 15px;
        white-space: nowrap;
      }
    }

    .On {
      .Body {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_8;
      }
    }

    .Disable .Text {
      color: $IO_VISIONSDK_GRAY_DARK_2;
    }
  }
}
