// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .Label {
    .Disable .Text {
      color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
    }
  }
}
