// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .NotificationMessage {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_9;
    border-radius: 50px;
    cursor: default;
    margin-top: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    &:hover {
      background-color: $IO_VISIONSDK_GRAY_LIGHT_5;
      cursor: pointer;
    }

    .Icon,
    .Message,
    .Prefix,
    .Text {
      float: left;
    }

    @mixin iconStyle() {
      height: 35px;
      left: -1px;
      margin-right: 20px;
      position: relative;
      width: 38px;
    }

    .GeneralSuccess > .Icon {
      @include iconStyle();
      background: $IO_VISIONSDK_USERCONTROLS_NOTIFICATIONMESSAGE_GENERAL_SUCCESS no-repeat;
    }

    .GeneralInfo > .Icon {
      @include iconStyle();
      background: $IO_VISIONSDK_USERCONTROLS_NOTIFICATIONMESSAGE_GENERAL_INFO no-repeat;
    }

    .GeneralWarning > .Icon {
      @include iconStyle();
      background: $IO_VISIONSDK_USERCONTROLS_NOTIFICATIONMESSAGE_GENERAL_WARNING no-repeat;
    }

    .GeneralError > .Icon {
      @include iconStyle();
      background: $IO_VISIONSDK_USERCONTROLS_NOTIFICATIONMESSAGE_GENERAL_ERROR no-repeat;
    }

    .ImageButton {
      float: right;
      margin-top: 2px;
      position: absolute;
      right: 10px;
      top: 5px;
    }

    .Message {
      left: 50px;
      padding-right: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .Prefix,
    .Text {
      color: $COM_WUI_FRAMEWORK_BLACK;
      font-size: 12px;
    }

    .Prefix {
      font-weight: bold;
      padding-right: 10px;
    }
  }
}
