// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="NumberPicker"] {
    > .Background {
      > .Left,
      > .Center,
      > .Right {
        background: $IO_VISIONSDK_WHITE no-repeat;
        height: 27px;
      }

      > .Left,
      > .Right {
        width: 10px;
      }

      > .Center {
        width: 157px;
      }
    }
  }

  .NumberPicker {
    .Property {
      height: 27px;

      .GuiFixedHolder {
        z-index: 100;
      }

      .Background {
        .Bar,
        .Bar .Envelop,
        .Bar .Left,
        .Bar .Center,
        .Bar .Right {
          height: 4px;
        }

        .Bar {
          left: -10px;
          top: 12px;

          .Envelop {
            width: 169px;
          }

          .Left,
          .Right {
            width: 5px;
          }

          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_GRAY_DARK_8;
          }

          .Left {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }

          .Center {
            width: 159px;
          }

          .Right {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
      }

      .Notification {
        .Pointer {
          left: 1px;

          .Off,
          .On,
          .Active {
            border-radius: 20px;
            height: 20px;
            position: relative;
            top: 4px;
            width: 20px;
          }

          .Off {
            background: $IO_VISIONSDK_GRAY_DARK_7 no-repeat;
          }

          .On,
          .Active {
            background: $IO_VISIONSDK_GREEN no-repeat;
          }

          .Active {
            border: 1px solid $IO_VISIONSDK_GREEN;
            left: -1px;
            top: 3px;
          }
        }

        .Background {
          top: -20px;
          width: 45px;

          .Left,
          .Center,
          .Right {
            background-color: $IO_VISIONSDK_WHITE;
            border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_4;
            border-top: 1px solid $IO_VISIONSDK_GRAY_DARK_4;
            height: 20px;
          }

          .Left,
          .Right {
            width: 10px;
          }

          .Left {
            border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_4;
          }

          .Center {
            width: 30px;
          }

          .Right {
            border-right: 1px solid $IO_VISIONSDK_GRAY_DARK_4;
          }
        }

        .Text {
          color: $IO_VISIONSDK_GRAY_DARK_6;
          font-family: "Lato", sans-serif;
          font-size: 13px;
          padding: 6px;
          top: -2px;
        }
      }

      .Disable {
        .Background {
          .Bar {
            .Left,
            .Center,
            .Right {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            }
          }
        }

        .Notification {
          .Pointer .Off {
            background: $IO_VISIONSDK_GRAY_LIGHT_1 no-repeat;
          }

          .Background {
            .Left,
            .Center,
            .Right {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            }
          }
        }
      }
    }

    .ZoomWhite {
      height: 27px;

      [guiType="NumberPicker"] {
        > .Background {
          > .Left,
          > .Center,
          > .Right {
            background: transparent;
          }
        }
      }

      .GuiFixedHolder {
        z-index: 100;
      }

      .Background {
        .Bar,
        .Bar .Envelop,
        .Bar .Left,
        .Bar .Center,
        .Bar .Right {
          height: 2px;
        }

        .Bar {
          left: -10px;
          overflow: visible;
          top: 13px;

          .Envelop {
            width: 169px;
          }

          .Left,
          .Right {
            width: 5px;
          }

          .Left,
          .Right,
          .Center {
            background-color: $IO_VISIONSDK_WHITE;
            height: 2px;
          }

          .Left {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }

          .Center {
            width: 159px;
          }

          .Right {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
      }

      .Notification {
        .Pointer {
          left: 1px;

          .Off,
          .On,
          .Active {
            border-radius: 2px;
            height: 10px;
            position: relative;
            top: 9px;
            width: 6px;
          }

          .Off {
            background: $IO_VISIONSDK_WHITE no-repeat;
          }

          .On,
          .Active {
            background: $IO_VISIONSDK_WHITE no-repeat;
          }
        }

        .Background {
          top: -2px;
          width: 45px;

          .Left,
          .Right {
            width: 10px;
          }

          .Center {
            width: 30px;
          }
        }

        .Text {
          color: $IO_VISIONSDK_WHITE;
          font-family: "Lato", sans-serif;
          font-size: 11px;
          padding: 0;
          top: -2px;

          &::before {
            @include setOpacity(.75);
            content: "zoom";
            font-size: 9px;
            left: -26px;
            position: absolute;
            top: 1px;
          }
        }
      }

      .Disable {
        .Background {
          .Bar {
            .Left,
            .Center,
            .Right {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            }
          }
        }

        .Notification {
          .Pointer .Off {
            background: $IO_VISIONSDK_GRAY_LIGHT_1 no-repeat;
          }

          .Background {
            .Left,
            .Center,
            .Right {
              background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            }
          }
        }
      }
    }
  }
}
