// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .PointerIcon {
    position: fixed;

    .PointerOff,
    .PointerOn,
    .PointerActive {
      background-color: $IO_VISIONSDK_RED_DARK_1;
      border: 2px solid $IO_VISIONSDK_RED;
      border-radius: 10px;
      height: 8px;
      width: 8px;

      .Icon {
        left: -12px;
        position: absolute;
        top: -12px;
        z-index: -1;
      }
    }

    .PointerOff,
    .PointerOn {
      .Icon {
        // sass-lint:disable-block no-vendor-prefixes
        -webkit-transition: border 100ms;
        transition: border 100ms;
      }
    }

    .PointerOn,
    .PointerActive {
      .Icon {
        // sass-lint:disable-block no-vendor-prefixes
        -webkit-filter: blur(4px);
        border: 3px solid $IO_VISIONSDK_RED;
        border-radius: 30px;
        filter: blur(4px);
        height: 30px;
        width: 30px;
      }
    }

    .PointerActive .Icon {
      @include setOpacity(30);
      background-color: $IO_VISIONSDK_RED;
    }
  }
}
