// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="ProgressBar"] {
    > .Background {
      > .Left,
      > .Center,
      > .Right {
        background: $IO_VISIONSDK_USERCONTROLS_PROGRESSBAR_BACKGROUND repeat;
        height: 18px;
      }

      > .Left,
      > .Right {
        width: 0;
      }

      > .Center {
        text-align: center;
        width: 150px;

        > div:not(.Bar) {
          display: inline-block;
        }
      }
    }
  }

  .ProgressBar {
    .Background {
      .Bar {
        height: 16px;
        top: 1px;

        .Envelop {
          left: 1px;
          width: 148px;
        }

        .Left,
        .Center,
        .Right {
          height: 16px;
        }

        .Left,
        .Right {
          width: 0;
        }

        .Center {
          width: 148px;
        }
      }
    }

    .Disable {
      .Background {
        > .Left,
        > .Center,
        > .Right {
          background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;
        }

        .Bar {
          .Left,
          .Center,
          .Right {
            background: $COM_WUI_FRAMEWORK_GRAY_MEDIUM none;
          }
        }
      }
    }
  }
}
