// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="TextField"] {
    > .Background {
      .Left,
      .Center,
      .Right {
        background: $IO_VISIONSDK_USERCONTROLS_BACKGROUND_GRAY_DARK repeat;
        height: 27px;
      }

      .Left,
      .Right {
        width: 10px;
      }
    }
  }

  .TextField {
    height: 27px;

    .Envelop {
      left: 0;
      top: 4px;
    }

    input {
      color: $IO_VISIONSDK_GRAY_DARK_10;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      z-index: 1001;
    }

    .Hint {
      color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
    }

    .Background .Right .SpinnerGrapheneSmall .Icon {
      left: -11px;
      top: 6px;
    }

    .SelectBox {
      left: 5px;
      top: 2px;

      [guiType="SelectBox"] > .Background .Middle .Center > .Content {
        top: 0;
      }

      .Background {
        .Top {
          .Left,
          .Center,
          .Right {
            height: 3px;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            position: relative;
            top: -2px;
          }
        }
      }

      .Option {
        clear: both;

        .Icon,
        .Text {
          left: 3px;
          top: 2px;
        }

        .Text {
          font-size: 16px;
          font-weight: normal;

          .LookUp {
            font-weight: bold;
          }
        }
      }
    }

    .Disable {
      .Background {
        input {
          color: $IO_VISIONSDK_GRAY_DARK_6;
        }

        .Left,
        .Right,
        .Center {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
        }
      }
    }

    .Active {
      [guiType="TextField"] > .Background {
        .Left {
          border-left: 2px solid $IO_VISIONSDK_GREEN;
          width: 8px;
        }
      }
    }

    .Error {
      [guiType="TextField"] > .Background {
        .Left {
          border-left: 2px solid $IO_VISIONSDK_RED_DARK_1;
          width: 8px;
        }
      }
    }

    .Property {
      input {
        @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GREEN);
        color: $IO_VISIONSDK_GRAY_DARK_7;
        top: 1px;
      }

      [guiType="TextField"] > .Background {
        .Left {
          background: $IO_VISIONSDK_WHITE no-repeat;
        }

        .Center {
          background: $IO_VISIONSDK_WHITE repeat-x;
        }

        .Right {
          background: $IO_VISIONSDK_WHITE no-repeat;
        }
      }

      .On {
        .Background {
          .Left {
            border-left-width: 0;
            width: 10px;
          }

          .Left,
          .Center,
          .Right {
            border-bottom: 1px solid $IO_VISIONSDK_GREEN;
            height: 26px;
          }
        }
      }

      .Active,
      .Error {
        [guiType="TextField"] > .Background {
          .Left {
            border-left-width: 0;
            width: 10px;
          }
        }
      }

      .Active {
        [guiType="TextField"] > .Background {
          .Left,
          .Center,
          .Right {
            border-bottom: 2px solid $IO_VISIONSDK_GREEN;
            height: 25px;
          }
        }
      }

      .Error {
        [guiType="TextField"] > .Background {
          .Left,
          .Center,
          .Right {
            border-bottom: 2px solid $IO_VISIONSDK_RED_DARK_1;
            height: 25px;
          }
        }
      }

      .ReadOnly {
        input {
          @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GRAY_DARK_5);
        }

        [guiType="TextField"] > .Background {
          .Left {
            background: $IO_VISIONSDK_GRAY_LIGHT_3 no-repeat;
          }

          .Center {
            background: $IO_VISIONSDK_GRAY_LIGHT_3 no-repeat;
          }

          .Right {
            background: $IO_VISIONSDK_GRAY_LIGHT_3 no-repeat;
          }
        }

        .On {
          .Background {
            .Left,
            .Center,
            .Right {
              border-bottom: 1px solid $IO_VISIONSDK_GRAY_DARK_9;
            }
          }
        }
      }
    }

    .Setting {
      $border: 1px solid $IO_VISIONSDK_GRAY_LIGHT_6;

      input {
        @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GREEN);
        color: $IO_VISIONSDK_GRAY_DARK_9;
      }

      [guiType="TextField"] > .Background {
        .Left {
          background: $IO_VISIONSDK_WHITE no-repeat;
          border-bottom: $border;
          border-left: $border;
          border-top: $border;
          height: 26px;
          width: 10px;
        }

        .Center {
          background: $IO_VISIONSDK_WHITE repeat-x;
          border-bottom: $border;
          border-top: $border;
          height: 26px;
        }

        .Right {
          background: $IO_VISIONSDK_WHITE no-repeat;
          border-bottom: $border;
          border-right: $border;
          border-top: $border;
          height: 26px;
          width: 10px;
        }
      }

      [guiType="TextField"].Disable {
        > .Background {
          input {
            @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GRAY_DARK_5);
          }

          .Left,
          .Center,
          .Right {
            background: $IO_VISIONSDK_GRAY_LIGHT_9;
            border-color: $IO_VISIONSDK_GRAY_LIGHT_6;
          }
        }
      }

      [guiType="TextField"].On {
        > .Background {
          .Left {
            border-left: 1px solid $IO_VISIONSDK_GREEN;
          }
        }
      }

      .Active {
        [guiType="TextField"] > .Background {
          .Left {
            border-left: 2px solid $IO_VISIONSDK_GREEN;
            width: 9px;
          }
        }
      }

      .Error {
        [guiType="TextField"] > .Background {
          .Left {
            border-left: 2px solid $IO_VISIONSDK_RED_DARK_1;
            width: 9px;
          }
        }
      }

      .ReadOnly {
        input {
          @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GRAY_DARK_5);
        }

        .Background {
          .Left,
          .Center,
          .Right {
            background: $IO_VISIONSDK_WHITE;
          }
        }

        .On {
          .Background {
            .Left {
              border-left: 1px solid $IO_VISIONSDK_GRAY_DARK_9;
            }
          }
        }
      }
    }
  }
}
