// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  [guiType="TextArea"] {
    > .Background {
      .Top,
      .Bottom {
        .Left,
        .Right {
          height: 6px;
          width: 6px;
        }

        .Center {
          height: 6px;
        }
      }

      .Top,
      .Middle,
      .Bottom {
        .Left {
          border-left: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
        }

        .Right {
          border-right: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
        }

        .Left,
        .Center,
        .Right {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_11;
        }
      }

      .Top {
        .Left,
        .Center,
        .Right {
          border-top: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
        }
      }

      .Middle {
        .Left,
        .Right {
          width: 6px;
        }

        .Center {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_11;

          > .Content {
            left: -7px;
            top: -7px;
          }
        }
      }

      .Bottom {
        .Left,
        .Center,
        .Right {
          border-bottom: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
        }
      }
    }
  }

  .TextArea {
    .Envelop {
      left: 0;
      padding: 6px 10px;
      top: 0;
    }

    .ScrollBar {
      .UpArrow,
      .DownArrow {
        display: none;
      }
    }

    .ResizeBar {
      height: 11px;
      left: 3px;
      top: -3px;
    }

    textarea {
      @include setTextSelectionColor($IO_VISIONSDK_WHITE, $IO_VISIONSDK_GREEN);
      color: $IO_VISIONSDK_GRAY_DARK_9;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      padding: 0;
    }

    .Hint {
      color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM_LIGHT;
    }

    .CounterEnvelop {
      left: -5px;
      top: 5px;
    }

    .Counter .Text {
      font-size: 13px;
      padding-bottom: 5px;
      text-align: right;

      .Value {
        color: $COM_WUI_FRAMEWORK_GRAY_MEDIUM;
        font-size: 14px;
      }
    }

    .Active,
    .Blue .Active,
    .Green .Active,
    .Red .Active {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 2px solid $IO_VISIONSDK_GREEN;
          }

          .Right {
            border-right: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
          }
        }
      }
    }

    .Error,
    .Blue .Error,
    .Green .Error,
    .Red .Error {
      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left {
            border-left: 2px solid $IO_VISIONSDK_RED_DARK_1;
          }

          .Right {
            border-right: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
          }
        }

        .Top {
          .Left,
          .Center,
          .Right {
            border-top: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
          }
        }

        .Bottom {
          .Left,
          .Center,
          .Right {
            border-bottom: 2px solid $IO_VISIONSDK_GRAY_LIGHT_11;
          }
        }
      }
    }

    .Disable,
    .Blue .Disable,
    .Green .Disable,
    .Red .Disable {
      textarea {
        color: $IO_VISIONSDK_GRAY_DARK_9;
      }

      .Background {
        .Top,
        .Middle,
        .Bottom {
          .Left,
          .Center,
          .Right {
            background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            border-color: $IO_VISIONSDK_GRAY_LIGHT_1;
          }
        }
      }
    }

    .Setting {
      $border: 1px solid $IO_VISIONSDK_GRAY_LIGHT_6;

      .Background,
      .Disable .Background,
      .On .Background,
      .Active .Background {
        .Top,
        .Middle,
        .Bottom {
          > .Left,
          > .Center,
          > .Right {
            background-color: $IO_VISIONSDK_WHITE;
          }

          > .Left {
            border-left: $border;
          }

          > .Right {
            border-right: $border;
          }
        }

        .Top {
          > .Left,
          > .Center,
          > .Right {
            border-top: $border;
          }
        }

        .Bottom {
          > .Left,
          > .Center,
          > .Right {
            border-bottom: $border;
          }
        }

      }

      .ScrollBar .Tracker {
        .Button {
          .Top {
            border-top: $border;
          }

          .Bottom {
            border-bottom: $border;
          }
        }
      }

      textarea {
        color: $IO_VISIONSDK_GRAY_DARK_9;
      }

      .Disable {
        textarea {
          color: $IO_VISIONSDK_GRAY_DARK_9;
        }

        .Background {
          .Top,
          .Middle,
          .Bottom {
            > .Left,
            > .Center,
            > .Right {
              background-color: transparent;
              border-color: $IO_VISIONSDK_GRAY_LIGHT_1;
            }
          }
        }
      }

      .On {
        .Background {
          .Top,
          .Middle,
          .Bottom {
            > .Left {
              border-left: 1px solid $IO_VISIONSDK_GREEN;
              width: 6px;
            }
          }
        }
      }

      .Active {
        .Background {
          .Top,
          .Middle,
          .Bottom {
            > .Left {
              border-left: 2px solid $IO_VISIONSDK_GREEN;
              width: 5px;
            }

            > .Right {
              border-right: $border;
            }
          }
        }
      }

      .Error {
        .Background {
          .Top,
          .Middle,
          .Bottom {
            > .Left {
              border-left: 2px solid $IO_VISIONSDK_RED_DARK_1;
              width: 5px;
            }

            > .Right {
              border-right: $border;
            }
          }

          .Top {
            > .Left,
            > .Center,
            > .Right {
              border-top: $border;
            }
          }

          .Bottom {
            > .Left,
            > .Center,
            > .Right {
              border-bottom: $border;
            }
          }
        }
      }
    }
  }
}
