// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .VerticalPanelHolder {
    .UserControlsTestPanel {
      border: 3px solid $IO_VISIONSDK_GRAY_LIGHT_13;
      border-top: 0;
      padding: 6px;
    }

    .ScrollBar {
      .Horizontal {
        .HoverExpand {
          height: 12px;
        }

        .ContentOffset {
          height: 14px;
        }
      }

      .Vertical {
        .HoverExpand {
          width: 12px;
        }

        .ContentOffset {
          width: 14px;
        }
      }
    }

    .Empty > .BasePanel {
      border: 3px solid $IO_VISIONSDK_GRAY_LIGHT_13;
      border-top: 0;
    }

    .Header {
      min-height: 34px;

      > .Left,
      > .Center,
      > .Right {
        height: 34px;
        left: 0;
        top: 0;
      }

      > .Left,
      > .Right {
        width: 4px;
      }

      > .Left {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_13;
        border-bottom: 0;
        border-left: 0;
        border-top: 0;
      }

      > .Center {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_13;
        border-bottom: 0;
        border-top: 0;

        .Label {
          left: 9px;
          top: 10px;

          .Text {
            color: $IO_VISIONSDK_GRAY_DARK_5;
            font-size: 13px;
          }
        }
      }

      > .Right {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_13;
        border-bottom: 0;
        border-right: 0;
        border-top: 0;

        .Label {
          padding-left: 24px;
          position: absolute;
          right: 12px;
          top: 9px;

          .Text {
            color: $IO_VISIONSDK_GRAY_DARK_5;
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
