// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

@font-face {
  // sass-lint:disable-block no-duplicate-properties
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../libs/FontLato/Lato-Regular.eot");
  src: url("../../../../libs/FontLato/Lato-Regular.eot?#iefix") format("embedded-opentype"),
  url("../../../../libs/FontLato/Lato-Regular.woff") format("woff"),
  url("../../../../libs/FontLato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties
  font-family: "LatoHairline";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../libs/FontLato/Lato-Hairline.eot");
  src: url("../../../../libs/FontLato/Lato-Hairline.eot?#iefix") format("embedded-opentype"),
  url("../../../../libs/FontLato/Lato-Hairline.woff") format("woff"),
  url("../../../../libs/FontLato/Lato-Hairline.ttf") format("truetype");
}

@font-face {
  // sass-lint:disable-block no-duplicate-properties
  font-family: "LatoThin";
  font-style: normal;
  font-weight: normal;
  src: url("../../../../libs/FontLato/Lato-Thin.eot");
  src: url("../../../../libs/FontLato/Lato-Thin.eot?#iefix") format("embedded-opentype"),
  url("../../../../libs/FontLato/Lato-Thin.woff") format("woff"),
  url("../../../../libs/FontLato/Lato-Thin.ttf") format("truetype");
}

.#{$IoVisionSDKUserControlsNamespace},
.#{$IoVisionSDKUserControlsBaseInterface},
.#{$IoVisionSDKUserControlsBaseInterfaceComponents},
.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  color: $IO_VISIONSDK_GRAY_DARK_10;
  font-family: "Lato", sans-serif;

  .Text,
  input,
  textarea {
    font-family: "Lato", sans-serif;
  }
}
