// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018-2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../baseReference";

.DropDownButton {
  .ButtonEnvelop {
    .Disable {
      @include setOpacity(.75);
    }

    .Background {
      // sass-lint:disable-block no-important
      > .Center > .Envelop {
        left: unset;
        overflow: hidden;
      }

      .Splitter + .Text {
        float: none;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        top: 0;
        white-space: nowrap;
      }

      .Left,
      .Center,
      .Right {
        background-color: transparent !important;
        border: 0 !important;
        height: unset !important;
      }

      .Envelop {
        .Content {
          height: unset !important;
          margin: 0;
          width: 100% !important;
        }
      }
    }
  }

  .ListEnvelop {
    [guiType="GuiWrapper"] div {
      .Selected,
      .Field .Background {
        display: none;
      }

      .Item {
        overflow: hidden;
        white-space: nowrap;
      }

      .Off,
      .On,
      .Active,
      .Disable {
        .Button {
          border: 0;
        }
      }

      .List {
        // sass-lint:disable-block no-important
        position: absolute;
        z-index: 999999 !important;

        .Background {
          position: relative;

          .Top,
          .Bottom {
            .Left,
            .Right {
              height: 0;
              width: 10px;
            }

            .Center {
              height: 0;
            }
          }

          .Middle .Center > .Content {
            top: 0;
          }

          .Top {
            .Left,
            .Center,
            .Right {
              border-bottom: 0;
            }
          }
        }

        .Available {
          .Item {
            .On,
            .Active,
            .Off {
              .Text {
                left: 0;
                overflow: hidden;
                padding-left: 2%;
                padding-right: 2%;
                text-align: center;
                text-overflow: ellipsis;
                top: 0;
                white-space: nowrap;
                width: 96%;
              }
            }
          }
        }
      }

      [guiType="FieldButton"],
      [guiType="ListButton"] {
        border: 0;
        line-height: 0;
        pointer-events: none;
        position: relative;
        z-index: 1;

        .UpArrow,
        .DownArrow {
          border: 0;
          display: inline-block;

          .Icon {
            border-bottom-color: transparent;
            border-top-color: transparent;
          }
        }

        .UpArrow {
          .Icon {
            height: 0;
            width: 0;
          }
        }

        .DownArrow {
          .Icon {
            height: 0;
            width: 0;
          }
        }
      }
    }
  }
}
