// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018-2019 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../baseReference";

@mixin DropDownButton($typeMap) {
  float: left;

  @each $name, $type in $typeMap {
    .#{$name} {
      height: #{map-get($type, height)}px;

      .ButtonEnvelop {
        .On {
          .Background {
            .Center {
              .Envelop {
                background-image: linear-gradient(to right, map-get($type, buttonColorActiveFrom), map-get($type, buttonColorActiveTo));
              }
            }
          }
        }

        .Background {
          > .Center > .Envelop {
            height: #{map-get($type, height)}px;
          }
        }

        .Splitter + .Text {
          color: map-get($type, buttonAccentColor);
          font-size: #{map-get($type, fontSize)}px;
          line-height: #{map-get($type, height)}px;
          margin-left: #{map-get($type, height)}px;
          margin-right: #{map-get($type, height)}px;
        }

        .Envelop {
          background-image: linear-gradient(to right, map-get($type, buttonColorFrom), map-get($type, buttonColorTo));
        }
      }

      .ListEnvelop {
        @if map-get($type, isArrowVisible) {
          .On,
          .Active {
            [guiType="FieldButton"],
            [guiType="ListButton"] {
              pointer-events: initial;

              .UpArrow {
                .Icon {
                  border-bottom-color: map-get($type, buttonAccentColor);
                }
              }

              .DownArrow {
                .Icon {
                  border-top-color: map-get($type, buttonAccentColor);
                }
              }
            }
          }

          .Off {
            [guiType="FieldButton"],
            [guiType="ListButton"] {
              pointer-events: initial;

              .UpArrow {
                .Icon {
                  border-bottom-color: map-get($type, buttonAccentColor);
                }
              }

              .DownArrow {
                .Icon {
                  @include setOpacity(.75);
                  border-top-color: map-get($type, buttonAccentColor);
                }
              }
            }
          }
        } @else {
          .On,
          .Active,
          .Off {
            [guiType="FieldButton"],
            [guiType="ListButton"] {
              pointer-events: none;

              .UpArrow,
              .DownArrow {
                .Icon {
                  border-bottom-color: transparent;
                  border-top-color: transparent;
                }
              }
            }
          }
        }

        .List {
          top: #{map-get($type, height)}px;

          .Background {
            .Top,
            .Bottom {
              .Left,
              .Right {
                background-color: map-get($type, listBackgroundColor);
              }

              .Center {
                background-color: map-get($type, listBackgroundColor);
              }
            }

            .Left,
            .Center,
            .Right {
              background-color: map-get($type, listBackgroundColor);
              border-color: map-get($type, borderColor);
            }

            .Top,
            .Middle,
            .Bottom {
              .Left {
                border-left: 1px solid map-get($type, listBorderColor);
              }

              .Right {
                border-right: 1px solid map-get($type, listBorderColor);
              }
            }

            .Top {
              .Left,
              .Center,
              .Right {
                border-top: 1px solid map-get($type, listBorderColor);
              }
            }

            .Bottom {
              .Left,
              .Center,
              .Right {
                border-bottom: 1px solid map-get($type, listBorderColor);
              }
            }
          }

          .Available {
            background-color: map-get($type, listBackgroundColor);

            .Item {
              .On,
              .Active,
              .Off {
                .Text {
                  font-size: #{map-get($type, fontSize)}px;
                  line-height: #{map-get($type, height)}px;
                }
              }

              .On,
              .Active {
                background-color: map-get($type, listActiveColor);

                .Text {
                  color: map-get($type, listFontActiveColor);
                }
              }
            }
          }
        }

        [guiType="FieldButton"],
        [guiType="ListButton"] {
          height: #{map-get($type, height)}px;
          margin-left: -#{map-get($type, height)}px;
          width: #{map-get($type, height)}px;

          &::after {
            @if map-get($type, isTriangular) {
              $arrowLength: map-get($type, height)/2;
              border: #{map-get($type, height) / 2}px solid transparent;
              border-left: #{$arrowLength}px solid map-get($type, buttonColorTo);
              content: "";
              pointer-events: none;
              position: absolute;
              right: #{- $arrowLength - map-get($type, height) / 2}px;
              top: 0;
            }
          }

          $borderSize: 6;
          $innerMargin: map-get($type, height)/2 - $borderSize;

          .UpArrow {
            .Icon {
              // sass-lint:disable-block shorthand-values
              border: #{$borderSize}px solid transparent;
              margin: #{$innerMargin - $borderSize/2}px #{$innerMargin}px #{$innerMargin + $borderSize/2}px #{$innerMargin}px;
            }
          }

          .DownArrow {
            .Icon {
              // sass-lint:disable-block shorthand-values
              border: #{$borderSize}px solid transparent;
              margin: #{$innerMargin + $borderSize/2}px #{$innerMargin}px #{$innerMargin - $borderSize/2}px #{$innerMargin}px;
            }
          }
        }
      }
    }
  }
}
