// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls}PrimitivesBasePanel {
  .Async {
    .Label .Text {
      color: $COM_WUI_FRAMEWORK_GRAY_DARK;
      float: left;
      font-size: 18px;
      left: 15px;
      position: relative;
      top: 10px;
    }
  }
}
