// * ********************************************************************************************************* *
// *
// * Copyright (c) 2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceComponents} {
  .CropBox {
    position: absolute;

    [guiType="CropBox"] > {
      .Middle > .Center > {

        .Top,
        .Middle,
        .Bottom {
          > {
            .Left,
            .Right {
              width: 2px;
            }
          }
        }

        .Top,
        .Bottom {
          > {
            .Left,
            .Center,
            .Right {
              height: 2px;
            }
          }
        }
      }
    }

    [guiType="CropBox"].Orange > {
      .Middle > .Center > {
        .Top,
        .Bottom {
          > {
            .Left,
            .Center,
            .Right {
              background: $IO_VISIONSDK_ORANGE;
            }
          }
        }

        .Middle > {
          .Left,
          .Right {
            background: $IO_VISIONSDK_ORANGE;
          }
        }

        .Top > .Left,
        .Bottom > .Right {
          background: $IO_VISIONSDK_ORANGE;
        }
      }
    }

    [guiType="CropBox"].SkyBlue > {
      .Middle > .Center > {
        .Top,
        .Bottom {
          > {
            .Left,
            .Center,
            .Right {
              background: $IO_VISIONSDK_SKYBLUE;
            }
          }
        }

        .Middle > {
          .Left,
          .Right {
            background: $IO_VISIONSDK_SKYBLUE;
          }
        }

        .Top > .Left,
        .Bottom > .Right {
          background: $IO_VISIONSDK_SKYBLUE;
        }
      }
    }

    [guiType="CropBox"].Green > {
      .Middle > .Center > {
        .Top,
        .Bottom {
          > {
            .Left,
            .Center,
            .Right {
              background: $IO_VISIONSDK_GREEN;
            }
          }
        }

        .Middle > {
          .Left,
          .Right {
            background: $IO_VISIONSDK_GREEN;
          }
        }

        .Top > .Left,
        .Bottom > .Right {
          background: $IO_VISIONSDK_GREEN;
        }
      }

    }

    [guiType="CropBox"].GreenDark > {
      .Middle > .Center > {
        .Top,
        .Bottom {
          > {
            .Left,
            .Center,
            .Right {
              background: $IO_VISIONSDK_GREEN_DARK;
            }
          }
        }

        .Middle > {
          .Left,
          .Right {
            background: $IO_VISIONSDK_GREEN_DARK;
          }
        }

        .Top > .Left,
        .Bottom > .Right {
          background: $IO_VISIONSDK_GREEN_DARK;
        }
      }
    }

    .CropBox {
      .ResizeBar {
        &,
        .On,
        .Active {
          .XY {
            height: 5px;
            left: 1px;
            top: -2px;
            width: 5px;
          }
        }
      }
    }
  }
}
