// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceComponents} {
  .KernelNodeConnector {
    position: relative;

    .Input,
    .Output {
      background-color: $IO_VISIONSDK_WHITE;
      border-radius: 50px;
      height: 8px;
      width: 8px;
    }

    .Input {
      border: 1px solid $IO_VISIONSDK_ORANGE_DARK_1;

      &:hover {
        background-color: $IO_VISIONSDK_ORANGE_LIGHT_2;
      }
    }

    .Output {
      border: 1px solid $IO_VISIONSDK_SKYBLUE;

      &:hover {
        background-color: $IO_VISIONSDK_SKYBLUE_LIGHT_3;
      }
    }
  }
}
