// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceComponents} {
  .ScrollBar {
    .Tracker {
      background-color: $COM_WUI_FRAMEWORK_GRAY_LIGHT;

      .Button {
        .Off,
        .On,
        .Active {
          .Top,
          .Center,
          .Bottom {
            height: 5px;
            width: 5px;
          }
        }
      }
    }

    .UpArrow,
    .DownArrow,
    .Icon {
      display: none;
    }

    .Vertical,
    .Horizontal {
      .Tracker .Button {
        .Off {
          .Top,
          .Center,
          .Bottom {
            background-color: $IO_VISIONSDK_GRAY_DARK_7;
            border: 0 solid transparent;
          }
        }

        .On {
          .Top,
          .Center,
          .Bottom {
            background-color: $IO_VISIONSDK_GRAY_DARK_2;
            border: 0 solid transparent;
          }
        }

        .Active {
          .Top,
          .Center,
          .Bottom {
            background-color: $IO_VISIONSDK_GREEN_LIGHT_4;
            border: 0 solid transparent;
          }
        }
      }
    }

    .Vertical {
      .HoverExpand {
        width: 14px;
      }

      .ContentOffset {
        width: 5px;
      }

      .Tracker {
        height: 300px;
        width: 5px;
      }
    }

    .Horizontal {
      .HoverExpand {
        height: 14px;
      }

      .ContentOffset {
        height: 5px;
      }

      .Tracker {
        height: 5px;
        width: 300px;
      }
    }
  }
}
