// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceComponents} {
  [guiType="SelectBox"] {
    > .Background {
      height: 21px;
      left: -5px;
      top: -5px;

      .Top,
      .Bottom {
        .Left,
        .Right {
          height: 5px;
          width: 5px;
        }

        .Center {
          height: 5px;
        }
      }

      .Middle {
        .Left,
        .Right {
          width: 5px;
        }

        > .Center {
          > .Content {
            left: -4px;
            top: -4px;
          }
        }
      }

      .Top,
      .Middle,
      .Bottom {
        .Left,
        .Center,
        .Right {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_3;
        }
      }
    }
  }

  .SelectBox {
    height: 21px;
    width: 21px;

    .Options {
      .Option {
        height: 20px;

        .Off,
        .On,
        .Active {
          height: 20px;
        }

        .On {
          background-color: $IO_VISIONSDK_GRAY_LIGHT_2;
        }

        .Active {
          background-color: $IO_VISIONSDK_GREEN_LIGHT_5;
        }

        .Icon,
        .Text {
          left: 5px;
          top: 5px;
        }

        .Icon {
          margin-right: 5px;
          top: 13px;
        }

        .Text {
          font-weight: bold;
          padding-right: 5px;
        }
      }
    }

    .ScrollBarEnvelop {
      width: 5px;
    }
  }
}
