// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoVisionSDKUserControlsBaseInterfaceComponents} {
  [guiType="ToolTip"] > .Background > .Middle > .Center > .Text {
    // sass-lint:disable-block no-important
    color: $IO_VISIONSDK_GRAY_DARK_10 !important;
    font-family: "Lato", sans-serif;
    font-size: 13px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  .ToolTip {
    .Background {
      .Top,
      .Bottom {
        * {
          height: 5px;
          width: 7px;
        }
      }

      .Top {
        .Left {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_TOP_LEFT repeat-y;
        }

        .Center {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_TOP_CENTER repeat;
        }

        .Right {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_TOP_RIGHT repeat-y;
        }
      }

      .Middle {
        * {
          min-height: 5px;
        }

        .Left,
        .Right {
          width: 7px;
        }

        .Left {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_MIDDLE_LEFT repeat-y;
        }

        .Center {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_MIDDLE_CENTER repeat;
        }

        .Right {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_MIDDLE_RIGHT repeat-y;
        }
      }

      .Bottom {
        .Left {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_BOTTOM_LEFT no-repeat;
        }

        .Center {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_BOTTOM_CENTER repeat-x;
        }

        .Right {
          background: $IO_VISIONSDK_USERCONTROLS_TOOLTIP_BOTTOM_RIGHT no-repeat;
        }
      }
    }
  }
}
